body {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 30;
 font-size: 12px;
 /*padding: 40px;*/
}

.color1 {
   background-color: #88a6e7
;
   margin: 0;
}
.color2 {
   background-color: #39bcd8
;
   margin: 0;
}
.bold {
   font-weight: bold;
   font-size: 12px;
}
.config-columns {
   border-color: lightgray;
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 5px;
}
.spinner-container {
   border-radius: 5px;
   background: white;
   z-index: 21;
   top: 50%;
   left: 50%;
   margin-top: -100px;
   margin-left: -100px;
   min-width: 160px;
}
.padding {
   padding: 20px;
   margin-bottom: 0;
}
.centered {
   float: center;
   margin-left: 10%;
}
.thumbnail {
   max-width: 60%;
   height: 45px;
   margin: auto;
   margin-bottom: 4px;
 }
 .desc {
   font-size: 12px;
   text-align: left;
   top:10%;
   font-weight: bold;
}
.bold {
    font-weight: bold;
    font-size: 13px;
}

.logo {
   text-align: center;
}
.rt-thead, .rt-th{
   background-color: #49679A;
   color: #fff;
}
input,select,textarea {
   margin: 1;
   color: black;
}
.vCenterItems {
    display: flex;
    align-items: center;
}
.rt-td
{
   height: 78px;
   text-align: center;
}
.glyphicon-refresh{
   font: Helvetica ;
   font-size: 13px;
   left: 0.5%;
   top: 50%;
}
div#selector
{
    position: relative;
    left: -0.5%;
    top: 0px;
}
div#calendario
{
    position: relative;
    left: 14%;
    top: -50px;
}
.pt-input-group{/*tamaño de calendario*/
  width:120px;
}
div.ReactTable
    {
        position: fixed;
        top: 20%;
        height: 50vh;
        width: 99vw;
    }
.well
{
    position: absolute;
    height: 75px;
    background-color: #f5f5f5;
    border: 0% solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 85%;
    left: 4%;
    top:8.5%;
}
header{
    position: absolute;
    width:100%;
}
div#dimensiones
{
  width:178px;
  position: absolute;
  left: 45%;
  text-align: center;
  top: 5px;
}
div#metricas
{
  width:426px;
  position: absolute;
  left: 62%;
  text-align: center;
  top: 5px;
}
div#pagination
{
  width: 6%;
  height: 1px;
}
body{width:100%}

.Select-clear-zone, .select-value{
display: none !important;
}
